<div class="container">
    <div class="container">
        <h1 class="text-black" style="text-align: center">Usuarios</h1>
        <hr>
    </div>

    <div class="col">
        <div class="div card">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <th scope="col">ID</th>
                        <!--<th scope="col">connection</th>-->
                        <!--<th scope="col">debug</th>-->
                        <th scope="col">Email</th>
                        <!--<th sscope="col">email_verified</th>-->
                        <!--<th scope="col">password</th>-->
                        <!--<th scope="col">tenant</th>-->
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarioArray">
                            <td>{{usuario._id}}</td>
                            <!--<td>{{usuario.connection}}</td>-->
                            <!--<td>{{usuario.debug}}</td>-->
                            <td>{{usuario.email}}</td>
                            <!--<td>{{usuario.email_verified}}</td>-->
                            <!--<td>{{usuario.password}}</td>-->
                            <!--<td>{{usuario.tenant}}</td>-->
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

</div>