<!-- Topbar Start -->
<div class="container-fluid bg-dark">
    <div class="row py-2 px-lg-5">
        <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center text-white">
                <small><i class="fa fa-phone-alt mr-2"></i>+51 335 6779</small>
                <small class="px-3">|</small>
                <small><i class="fa fa-envelope mr-2"></i>u201923376@upc.edu.pe</small>
            </div>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                <a class="text-white px-2" href="">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="text-white px-2" href="">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="text-white px-2" href="">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="text-white px-2" href="">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="text-white pl-2" href="">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
        <a href="index.html" class="navbar-brand ml-lg-3">
            <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-book-reader mr-3"></i>SPPLCI</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
            <div class="navbar-nav mx-auto py-0">
                <a routerLink="home" class="nav-item nav-link active">Inicio</a>
                <a routerLink="usuarios" class="nav-item nav-link ">Usuarios</a>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Entrenamiento</a>
                    <div class="dropdown-menu m-0">
                        <a class="dropdown-item" routerLink="entrenamiento">Nuevo Entrenamiento</a>
                        <a class="dropdown-item" routerLink="entrenamiento/confifactor">Configuración de Factores</a>
                        <a class="dropdown-item" routerLink="entrenamiento/modelo">Modelo de entrenamiento</a>
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Operatividad</a>
                    <div class="dropdown-menu m-0">
                        <a href="detail.html" class="dropdown-item">Predicción</a>
                        <a href="detail.html" class="dropdown-item">Requerimientos</a>
                        <a href="feature.html" class="dropdown-item">Solicitudes</a>
                        <a href="testimonial.html" class="dropdown-item">Calificaciones</a>
                        <a href="team.html" class="dropdown-item">Historicos</a>

                    </div>
                </div>
                <!--<a href="contact.html" class="nav-item nav-link">Contact</a>-->
            </div>
            <a href="" class="btn btn-primary py-2 px-4 d-none d-lg-block">Cerrar Sesión</a>
        </div>
    </nav>
</div>
<!-- Navbar End -->





<section>
    <router-outlet></router-outlet>
</section>