<!-- Topbar Start -->
<div class="container-fluid bg-dark">
    <div class="row py-2 px-lg-5">
        <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center text-white">
                <small><i class="fa fa-phone-alt mr-2"></i>+51 335 6779</small>
                <small class="px-3">|</small>
                <small><i class="fa fa-envelope mr-2"></i>u201923376@upc.edu.pe</small>
            </div>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                <a class="text-white px-2" href="">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="text-white px-2" href="">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="text-white px-2" href="">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="text-white px-2" href="">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="text-white pl-2" href="">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
        <a href="index.html" class="navbar-brand ml-lg-3">
            <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-book-reader mr-3"></i>SPPLCI</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
            <div class="navbar-nav mx-auto py-0">
                <a routerLink="home" class="nav-item nav-link active">Inicio</a>
                <a routerLink="usuarios" class="nav-item nav-link " routerLinkActive="active" *ngIf="(auth.isAuthenticated$ | async)">Usuarios</a>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Entrenamiento</a>
                    <div class="dropdown-menu m-0">
                        <a class="dropdown-item" routerLink="entrenamiento" *ngIf="(auth.isAuthenticated$ | async)">Nuevo Entrenamiento</a>
                        <a class="dropdown-item" routerLink="entrenamiento/confifactor" *ngIf="(auth.isAuthenticated$ | async)">Configuración de Factores</a>
                        <!--<a class="dropdown-item" routerLink="entrenamiento/modelo" *ngIf="(auth.isAuthenticated$ | async)">Modelo de entrenamiento</a>-->
                    </div>
                </div>

                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Operatividad</a>
                    <div class="dropdown-menu m-0">
                        <a class="dropdown-item" routerLink="operatividad/prediccion" *ngIf="(auth.isAuthenticated$ | async)">Predicción y Resultados</a>
                        <a class="dropdown-item" routerLink="operatividad/requerimiento" *ngIf="(auth.isAuthenticated$ | async)">Solicitudes y Requerimientos</a>
                        <!--<a class="dropdown-item" routerLink="operatividad/solicitudes" *ngIf="(auth.isAuthenticated$ | async)">Solicitudes</a>-->
                        <a class="dropdown-item" routerLink="operatividad/calificaciones" *ngIf="(auth.isAuthenticated$ | async)">Calificaciones</a>
                        <a class="dropdown-item" routerLink="entrenamiento/modelo" *ngIf="(auth.isAuthenticated$ | async)">Historicos</a>

                    </div>
                </div>
                <!--<a href="contact.html" class="nav-item nav-link">Contact</a>-->
            </div>
            <div *ngIf="(auth.isAuthenticated$ | async)">
                <div *ngIf="auth.user$| async as user">
                    <img [src]="user.picture" style="width: 40px ; height: 40px;" class="circular--square">
                    <label style="padding-right: 20px ;"><b>{{user.name}}</b></label>
                    <!--<code>{{user| json}}</code>-->

                </div>

            </div>

            <button class="btn btn-primary" (click)="loginWithRedirect()" *ngIf="!(auth.isAuthenticated$ | async)"> Ingresar</button>
            <!--<a class="btn btn-primary py-2 px-4 d-none d-lg-block" *ngIf="!(auth.isAuthenticated$ | async)">Ingresar</a>-->
            <button class="btn btn-danger py-2 px-4 d-none d-lg-block" (click)="logout()" *ngIf="(auth.isAuthenticated$ | async)">Cerrar Sesión</button>
        </div>
    </nav>
</div>
<!-- Navbar End -->

<!--

-->





<section>
    <router-outlet></router-outlet>
</section>