<div class="container">
    <h2>Configuración de factores</h2>
    <br>

    <h4> Factor principal</h4>

    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked">Estacion del Año</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" disabled>
        <label class="form-check-label" for="flexSwitchCheckDisabled">Disabled switch checkbox input</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" checked disabled>
        <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Disabled checked switch checkbox input</label>
    </div>

</div>
<div class="container">
    <br>
    <h4> Factor secundario</h4>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked">Invierno</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" disabled>
        <label class="form-check-label" for="flexSwitchCheckChecked">Primavera</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" disabled>
        <label class="form-check-label" for="flexSwitchCheckChecked">Verano</label>
    </div>
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked">Otoño</label>
    </div>
</div>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <button type="button" class="btn btn-success btn-lg">Guardar</button>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-warning btn-lg">Cancelar</button>
        </div>

    </div>
</div>