<div class="container">
    <h1 style="text-align: center;">Predicción y Resultados</h1>
    <mat-divider></mat-divider>

    <br>
    <section>
        <div class="example-button-row">
            <button mat-button color="primary"><mat-icon>picture_as_pdf</mat-icon>REPORTE PDF</button>
            <button mat-button color="accent" disabled>EXPORTAR A EXCEL</button>
        </div>
    </section>
    <br>
    <h2>Resultados Cuantitativos</h2>
    <div class="container">

        <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
        </mat-form-field>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- ID Column -->
                <ng-container matColumnDef="ord">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header><strong> No. </strong></th>
                    <td mat-cell *matCellDef="let row">{{row.ord}}</td>
                </ng-container>

                <!-- ID Column -->
                <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Codigo</strong></th>
                    <td mat-cell *matCellDef="let row">{{row.codigo}}</td>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Descripción</strong> </th>
                    <td mat-cell *matCellDef="let row"> {{row.descripcion}}</td>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="valor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Predicción (kg) </strong></th>
                    <td mat-cell *matCellDef="let row"> {{row.valor | number:'1.1-3' }} kg</td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Action</strong> </th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button color="primary" (click)="obtenerPrediccionKg(row)">
                            <mat-icon>assignment_turned_in</mat-icon>
                        </button>
                        <!--<button mat-icon-button color="primary" (click)="generarReporte(row._id)">
                            <mat-icon>picture_as_pdf</mat-icon>
                        </button>-->
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[9, 18, 27, 90]" aria-label="Select page of users"></mat-paginator>
        </div>
    </div>
    <br>
    <!--<div class="row">
        <div class="col">
            <div class="div card">
                <div class="card-header">
                    <h3>Gráficas</h3>
                </div>

                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <th scope="col">Nombre del Archivo</th>

                        </thead>
                        <tbody>
                            <tr *ngFor="let imagenes of imagenesarray">
                                <td>{{imagenes}}</td>

                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>-->
    <mat-divider></mat-divider>
    <br>
    <div class="container">
        <h2>Indicadores Gráficos</h2>
        <mat-grid-list cols="2" rowHeight="1:1">
            <mat-grid-tile><img mat-card-image [src]="imageToShowIndex1" alt="resultado"></mat-grid-tile>
            <mat-grid-tile><img mat-card-image [src]="imageToShowIndex2" alt="resultado"></mat-grid-tile>
            <mat-grid-tile><img mat-card-image [src]="imageToShowIndex3" alt="resultado"></mat-grid-tile>

        </mat-grid-list>
    </div>
    <br>

    <mat-divider></mat-divider>

    <div class="container">
        <h2>Resultados Gráficos</h2>
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Long-Short Term Memory (LSTM)</mat-card-title>
                <mat-card-subtitle>Red Neuronal Artifical</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="imageToShow" alt="resultado">

            <mat-card-content>
                <p>
                    Representación gráfica del ejercicio de la venta de platos como muestra real (Línea <strong style="color: red;">Roja</strong>) y su predicción (Línea <strong style="color: blue;">Azul</strong>) respecto de la numeración de días,
                </p>
                <p>0 = Lunes, 1 = Martes, 2 = Miércoles, 3 = Jueves, 4 = Viernes, 5 = Sábado, 6 = Domingo, ... </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>DOWNLOAD</button>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </div>
    <!--
    <hr>
    <h2>Operaciones</h2>
    <div class="container">
        <form [formGroup]="form">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Ingrese nombre del archivo</mat-label>
                <input matInput formControlName="nombre" placeholder="imagen.jpg">
            </mat-form-field>
            <button mat-mini-fab color="primary" (click)="getimage()" [disabled]="form.invalid">ver</button>
            <button mat-mini-fab color="warn" (click)="deleteimage()" [disabled]="form.invalid"><mat-icon>delete</mat-icon></button>
            <button mat-mini-fab color="accent" (click)="downloadimage()" [disabled]="form.invalid"><mat-icon>download</mat-icon></button>
        </form>
        <br>
    </div>
    <div class="container">
        <h3>Vista Previa</h3>
        <img [src]="imageToShow" alt="resultado">
        <ng-template #noImageFound>
            <img src="fallbackImage.png" alt="Fallbackimage">
        </ng-template>
    </div>-->

    <!--
    <div class="row">
        <h2>Vista general</h2>
    </div>
    <p>Siguiendo un analisis una funcion lineal, se muestra la tendencia de la epoca</p>
    <div class="row">
        <div class="col-lg-3">
            <img src="" alt="Grafica basada en una funcion lineal" style="width: 200px;height: 200px;">

        </div>

    </div>
    <hr>
    <br>
    <div class="row">
        <h2>Vista </h2>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <img src="" style="width: 200px;height: 200px;">
        </div>
        <div class="col-lg-3">
            <img src="" style="width: 200px;height: 200px;">
        </div>

    </div>-->

</div>