table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.example-card {
    max-width: 60%;
}

.example-header-image {
    background-image: url('https://elrincondelcapitannemo.files.wordpress.com/2021/09/arn.jpg?w=1024');
    background-size: cover;
}