<div class="container">
    <h1 style="text-align: center;">Entrenamiento de la muestra</h1>
    <hr>
    <br>

    <div class="row">
        <h3>Importar Muestra </h3>
        <br>
        <div class="col-lg-5" class="custom-file">
            <input id="uploadFile" type="file" (change)="ReadExcel($event)" multiple="false" />
            <br>
            <br>
        </div>

    </div>
    <br>
    <hr>
    <br>


    <div class="row">
        <h3>Vista previa de la muestra</h3>
        <div class="container">


            <cdk-virtual-scroll-viewport itemSize="8">
                <table id="example" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col"> # </th>
                            <th scope="col"> Insumo </th>
                            <th scope="col"> Venta </th>
                            <th scope="col"> Producción </th>
                            <th scope="col"> Fecha </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let row of ExcelData">
                            <!--    <th scope="row">{{row.INo}}</th>
                        <td>{{row.Insumo}}</td>
                        <td>{{row.Venta}}</td>
                        <td>{{row.Produccion}}</td>
                        <td>{{row.Fecha}}</td>-->
                            <td *ngFor="let cell of row">
                                {{cell}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th> # </th>
                            <th> Insumo </th>
                            <th> Venta </th>
                            <th> Producción </th>
                            <th> Fecha </th>
                        </tr>
                    </tfoot>
                </table>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
    <hr>
    <br>
    <div class="btn-group">
        <div class="row-lg-2">
            <button mat-raised-button color="primary" (click)="sendFile()">Enviar muestra</button>
        </div>
        <div class="row-lg-2">
            <button mat-raised-button color="warn" (click)="entrenar()">Entrenar muestra</button>
        </div>

        <div class="row-lg-2">
            <button mat-raised-button color="accent" (click)="nuevo()">Nuevo Entrenamiento</button>
        </div>
    </div>
    <br>

    <br>
    <div class="row">
        <ngb-alert [dismissible]="false">
            <strong>¡Advertencia!</strong> Recuerde que los registros deben corresponder a datos extraidos de fuentes confiables.
        </ngb-alert>

    </div>

    <div class="row">

    </div>


    <div class="row">
        <div class="col-lg-4">

            <br>
            <br>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Understood</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>


    <ng-template #contenido let-modal>
        <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal.close()">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
    </ng-template>

</div>